.contact img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 1.6em;
  float: right;
}

#copyright { 
  font-size: medium;
  color: gray; 
}

.cta { 
  margin-top: 0.6em;
  background-color: lemonchiffon;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.cta a { text-decoration: underline; }
.cta p { color: black }
.cta a { color: blue }
.fa-check-circle-o { color: limegreen; }
.fa-question-circle { color: gold; }
.jumbotron { background-color: white; }

.sales { 
  font-family: Charter, 'Hoefler Text', Cambria, Georgia, Times New Roman, serif;
  font-size: 19px;
  line-height: 29px;
  color: #333;
  padding-top: 0;
}

.sales h1 { margin-bottom: 0.6em; }

p.cta { font-size: xx-large; }
ul { list-style-type: none; }
h2 { margin-bottom: 1.6em; }
a { text-decoration: underline; }
a, a:hover { color: blue; }
a:visited { color: indigo; }
blockquote {
  border-left-color: white;
  margin: 1.6em;
  margin-left: 0;
  padding: 0;
}
blockquote * { color: black; }
blockquote img { 
  width: 50px;
  height: 50px;
  margin-left: 0.6em;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}